
@{
    ViewBag.Title = "CuadroCalificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model ITCA_Plus.Models.Notas
    var notasLista = ViewBag.NotasFiltradas as List<ITCA_Plus.Models.vw_AlumnosPorMateriaGrado>;

}

<h2>Cuadro de Calificaciones</h2>
<div class="container d-flex justify-content-center align-items-center">
    <div class="card" style="width: 800px;">
        <h5 class="card-header text-center" style="background-color: #aeb6bf;">Filtrar</h5>
        <div class="card-body">
            <!-- Formulario para agregar notas por alumno-->
            @using (Html.BeginForm("CuadroCalificaciones", "notas", System.Web.Mvc.FormMethod.Post))
            {
                @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="mb-3">
                            @Html.Label("Grado:")
                            @Html.DropDownList("grado", (IEnumerable<SelectListItem>)ViewBag.cmbGrado, "Seleccione grado", htmlAttributes: new { @class = "form-control w-100", id = "gradoDList", style = "max-width: none;" })
                        </div>

                        <div class="mb-3">
                            @Html.Label("Materia:")
                            @Html.DropDownList("materia", (IEnumerable<SelectListItem>)ViewBag.cmbMateria, "Seleccione materia", htmlAttributes: new { @class = "form-control w-100", id = "materiaDList", style = "max-width: none;" })
                        </div>
                    <div class="d-grid gap-2 mt-4">
                        <input type="submit" value="Buscar" class="btn btn-outline-info" style="max-width: none;" />
                    </div>
               
            }
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card" style="width: 800px;">
        <h5 class="card-header text-center" style="background-color: #aeb6bf;">Resultados de la búsqueda</h5>
        <div class="card-body">
            @if (ViewBag.NotasFiltradas != null && notasLista.Any())
            {

                <table class="table">
                    <thead>
                        <tr>
                            <td>Carnet</td>
                            <td>Nombre Alumno</td>
                            <td>Acciones</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (ITCA_Plus.Models.vw_AlumnosPorMateriaGrado item in notasLista)
                            {
                                <tr>
                                    <td>@item.alumno</td>
                                    <td>@item.carnet</td>
                                    <td>
                                        <a href="" class="btn btn-primary btn-sm">Editar</a>
                                        <a href="" class="btn btn-danger btn-sm">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>





