
@{
    ViewBag.Title = "CertificadoNotas";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Listado = ViewBag.ListadoPorMateriaGrado as List<ITCA_Plus.Models.vw_AlumnosPorMateriaGrado>;
}
<script>
    $(document).ready(function () {
      $("#gradoDList").on("change", function () {
            var gradoId = $(this).val();

             if (gradoId != null) {
                $.ajax({
                    url: '@Url.Action("ObtenerMaterias", "notas")',
                    type: 'POST',
                    data: {
                        grado: gradoId
                    },
                    success: function (data) {
                        // Limpiar y llenar el combo de alumnos
                        var $materiaDropdown = $("#materiaDList");
                        $materiaDropdown.empty();
                        $materiaDropdown.append('<option value="">Seleccione materia</option>');

                        $.each(data, function (i, item) {
                            $materiaDropdown.append('<option value="' + item.Value + '">' + item.Text + '</option>');
                        });

                        // Mostrar el div si estaba oculto
                        $("#materia").show();
                    },
                    error: function () {
                        alert("Seleccione una opción válida");
                    }
                });
            }
        });
     $("#materiaDList").on("change", function () {
         var gradoId = $("#gradoDList").val();
        console.log(gradoId)
         var materia = $(this).val();
         console.log(materia)
         if (gradoId != null && materia != null) {
            $.ajax({
                url: '@Url.Action("ObtenerAlumnosPorGrado", "notas")',
                type: 'POST',
                data: {
                    grado: gradoId,
                    mat: materia
                },
                success: function (data) {
                    // Limpiar y llenar el combo de alumnos
                    var $alumnoDropdown = $("#alumDList");
                    $alumnoDropdown.empty();
                    $alumnoDropdown.append('<option value="">Seleccione alumno</option>');

                    $.each(data, function (i, item) {
                        $alumnoDropdown.append('<option value="' + item.Value + '">' + item.Text + '</option>');
                    });

                    // Mostrar el div si estaba oculto
                    $("#alumno").show();
                },
                error: function () {
                    alert("Error al obtener los alumnos.");
                }
            });
        }
     });
        $('#NotasPorAlumnoModal').on('show.bs.modal', function (event) {
            var btnQueAbrioElModal = $(event.relatedTarget);
            let alumnoId = btnQueAbrioElModal.data('alumnoid');

    // traer las notas
    $.ajax({
        type: "POST",
        url: '@Url.Action("NotasPorAlumno", "mostarNotas")',
        data: {
            alumno: alumnoId
        },
        success: function (response) {
            if (response.existe == true) {
                var notas = response.notas;

                let html = "";

                $.each(notas, function (i, item) {
                    html += `
                <tr>
                    <td>${item.periodo}</td>
                    <td>${item.nota1}</td>
                    <td>${item.nota2}</td>
                    <td>${item.nota3}</td>
                    <td>${item.prom}</td>
                </tr>
            `;
                });

                // insertar en el tbody del modal
                $('#NotasPorAlumnoModal tbody').html(html);

            } else {
                $('#NotasPorAlumnoModal tbody').html(`
            <tr><td colspan="5" class="text-center text-danger">No hay notas registradas.</td></tr>
        `);
            }
        },
        error: function () {
            alert("Error al verificar existencia de notas.");
        }
    });


});

});
</script>

<h2>CertificadoNotas</h2>

<!--Card filtradora de listado-->
<div class="container d-flex justify-content-center align-items-center">
    <div class="card" style="width: 800px;">
        <h5 class="card-header text-center" style="background-color: #aeb6bf;">Filtrar</h5>
        <div class="card-body">
            <!-- Formulario para agregar notas por alumno-->
            @using (Html.BeginForm("CertificadoNotas", "mostarNotas", System.Web.Mvc.FormMethod.Post))
            {
                if (Session["rolUser"] == "Admin")
                {
                    <div class="mb-3">
                        @Html.Label("Docente:")
                        @Html.DropDownList("docente", (IEnumerable<SelectListItem>)ViewBag.cmbDocentes, "Seleccione docente", htmlAttributes: new { @class = "form-control", required = "required", id = "docenteId", style = "max-width: none;" })
                    </div>
                }
                <div class="mb-3">
                    @Html.Label("Grado:")
                    @Html.DropDownList("grado", (IEnumerable<SelectListItem>)ViewBag.cmbGrado, "Seleccione grado", htmlAttributes: new { @class = "form-control", required = "required", id = "gradoDList", style = "max-width: none;" })
                </div>

                <div class="mb-3" id="materia" style="display: none;">
                    @Html.Label("Materia:")
                    <select id="materiaDList" name="materia" class="form-control" required="required" style="max-width: none;">
                        <option value="">Seleccione primero un grado válido</option>
                    </select>
                </div>
                <div class="mb-3" id="alumno" style="display: none;">
                    @Html.Label("Alumno:")
                    <select id="alumDList" name="alumno" class="form-control" style="max-width: none;">
                        <option value="">Seleccione una materia válida </option>
                    </select>
                </div>
                <div class="d-grid gap-2 mt-4">
                    <input type="submit" value="Buscar" class="btn btn-outline-info" style="max-width: none;" />
                </div>

            }
        </div>
    </div>
</div>


<!--Card que muestra los datos filtrados-->
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card" style="width: 800px;">
        <h5 class="card-header text-center" style="background-color: #aeb6bf;">Resultados de la búsqueda</h5>
        <div class="card-body">
            @if (ViewBag.ListadoPorMateriaGrado != null && Listado.Any())
            {
                <div class="table-responsive">
                    <table class="table table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>Carnet</td>
                                <td>Nombre Alumno</td>
                                <td>Registro</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (ITCA_Plus.Models.vw_AlumnosPorMateriaGrado item in Listado)
                                {
                                    <tr>
                                        <td class="scope">@item.carnet</td>
                                        <td>@item.alumno</td>
                                        <td>

                                            <a href="" class="btn btn-info btn-sm"
                                               data-alumnoid="@item.alumno_id"
                                               data-bs-toggle="modal" data-bs-target="#NotasPorAlumnoModal">
                                                <i class="fa-solid fa-eye"></i> Ver Notas
                                            </a>
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>
                <script>
                    document.getElementById('alumno').style.display = 'block';
                    document.getElementById('materia').style.display = 'block';
                </script>
            }
        </div>
    </div>
</div>

<!-- AgregarNotasModal -->
<div class="modal fade" id="NotasPorAlumnoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notas por alumno</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td class="scope">Periodo</td>
                            <td>Notas 1°</td>
                            <td>Notas 2°</td>
                            <td>Notas 3°</td>
                            <td class="scope">Promedio</td>
                        </tr>
                    </thead>
                    <tbody id="notas-body">
                       
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnGuardar" class="btn btn-outline-danger">
                    <i class="fa-solid fa-envelope"></i> Enviar al correo
                </button>
            </div>
        </div>
    </div>
</div>